@media only screen and (max-width: $medium-screen) {
    .navigation {
        padding: var(--medium-screen-padding) !important;
    }
}

@media only screen and (max-width: $small-screen) {
    .navigation {
        padding: var(--small-screen-padding) !important;

        .navigation_container {
            .logo {
                width: 15rem !important;
                height: 10rem !important;
            }
        }
    }

}