@media only screen and (max-width: $large-screen) {
  .project {
    .project_container {
      .big_projects {
        .projectCard {
          &:nth-child(2) {
            margin-top: calc(6rem + 8vw);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $medium-screen) {
  .project {
    padding: 20rem 6vw;

    .project_container {
      width: 100% !important;
      grid-template-columns: 0% 60% 40%;

      .big_projects {
        grid-column: 2/3;

        .projectCard {
          &:nth-child(2) {
            margin-top: calc(7.8rem + 8vw) !important;
          }
        }
      }

      .heading {
        margin-bottom: 2rem;
        grid-column: 2/3;
        h1 {
          transform: initial !important;
        }
      }
    }
  }
}

@media only screen and (max-width: $small-screen) {
  .project {
    padding: 8rem 6vw !important;
    .project_container {
      width: 100% !important;
      grid-template-rows: repeat(6, auto) !important;
      grid-template-columns: initial !important;


      
      .big_projects {
        margin-right: initial !important;
        grid-column: initial !important;

        .projectCard {
          &:nth-child(2) {
            margin-top: calc(4rem + 8vw) !important;
          }
        }
      }

      .small_projects {
        .projectCard {
          margin-top: calc(2rem + 5vh) !important;
        }
      }

      .heading {
        grid-column: initial !important;
      }
    }
  }
}
