:root {
    //*===SIZES
    --primary-padding: 0vw 6vw 0vw 6vw;
    --medium-screen-padding: 0vw 4vw 0vw 4vw;
    --small-screen-padding: 0vw 2vw 0vw 2vw;
  
    --left-margin: 8vw;
    --mobile-left-margin: 5vw;
  }
  