.services {
  padding: 25rem 8vw 15rem 8vw;
  position: relative;

  .services_heading {
    margin-bottom: 7rem;
  }

  .services_container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:60px;
    align-items: center;
    justify-content: space-between;

    .card {
      background: #ffffff;
      box-shadow: 103px 185px 136px rgba(0, 0, 0, 0.05),
        9px 11px 30.73px rgba(0, 0, 0, 0.0298054),
        0px 0.598509px 7.18615px rgba(0, 0, 0, 0.0201946);
      border-radius: 21px;
      position: relative;
      z-index: 2;
      max-width: 27rem;
      width: 100%;
      margin: 0 auto;
      height: auto;
      min-height: 32rem;

    //   &:not(:last-child){
    //     margin-right: 3.5vw;
    //   }

      .card_heading_gradient {
        border-radius: 21px 21px 0 0;
        height: 15rem;
      }




      &:nth-child(1) {
        .card_heading_gradient {
          @include background-properties("/pictures/noise_gradient_1.png");
        }
      }

      &:nth-child(2) {
        .card_heading_gradient {
          @include background-properties("/pictures/noise_gradient_2.png");
        }
      }

      &:nth-child(3) {
        .card_heading_gradient {
          @include background-properties("/pictures/noise_gradient_3.png");
        }
      }

      .card_heading {
        padding: 1.5rem 2rem 0.5rem 2rem;

        h1 {
          line-height: 146.52%;

          .designing {
            background: -webkit-linear-gradient(-90deg,
                #f15de1 0%,
                #ff7c53 55.21%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }

        .fullstack {
          background: -webkit-linear-gradient(-90deg,
              #0042ff 0%,
              #2df1ff 61.46%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        .creating {
          background: -webkit-linear-gradient(-90deg,
              #0d0d0e 9.38%,
              rgba(255, 255, 255, 0) 97.4%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      .card_paragraph {
        padding: 0.5rem 2rem 1.5rem 2rem;

        p {
          line-height: 146.52%;
          color: var(--light-black);
        }
      }
    }
  }
}




@media only screen and (max-width: $large-screen) {
  .services {
    padding: 25rem 8vw 15rem 8vw;

    .services_heading {
      margin-bottom: 5rem;
    }
  }

  
}



@media only screen and (max-width: $medium-screen) {
  .services {
    padding: 15rem 8vw 8rem 8vw;

    .services_heading{
      h1{
        text-align: center;
      }
    }

    .services_container {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .card{
        margin-bottom: 18vh;
        min-height: 36rem;
      }

    }
  }
}




@media only screen and (max-width: $small-screen) {
    .services {
  
      .services_container {
        grid-template-columns: initial !important;
        grid-template-rows: repeat(3,1fr);

        .card {
            min-height: initial !important;
        }
      }
    }
  }