.services {
  //   margin: 22rem 0 0 0;
  padding: 25rem 12vw 15rem 12vw;

  .services_container {
    // height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 110px;
    // margin: 0 13vw;

    .card {
      background: #ffffff;
      box-shadow: 103px 185px 136px rgba(0, 0, 0, 0.05),
        9px 11px 30.73px rgba(0, 0, 0, 0.0298054),
        0px 0.598509px 7.18615px rgba(0, 0, 0, 0.0201946);
      border-radius: 21px;
      height: 100%;
      position: relative;
      z-index: 2;

      .card_heading_gradient {
        border-radius: 21px 21px 0 0;
        height: 15rem;
      }

      &:nth-child(1) {
        .card_heading_gradient {
          @include background-properties("/pictures/noise_gradient_1.png");
        }
      }
      &:nth-child(2) {
        .card_heading_gradient {
          @include background-properties("/pictures/noise_gradient_2.png");
        }
      }
      &:nth-child(3) {
        .card_heading_gradient {
          @include background-properties("/pictures/noise_gradient_3.png");
        }
      }

      .card_heading {
        padding: 1.5rem 2rem 0.5rem 2rem;

        h1 {
          line-height: 146.52%;

          .designing {
            background: -webkit-linear-gradient(
              -90deg,
              #f15de1 0%,
              #ff7c53 55.21%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }

        .fullstack {
          background: -webkit-linear-gradient(
            -90deg,
            #0042ff 0%,
            #2df1ff 61.46%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        .creating {
          background: -webkit-linear-gradient(
            -90deg,
            #0d0d0e 9.38%,
            rgba(255, 255, 255, 0) 97.4%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      .card_paragraph {
        padding: 0.5rem 2rem 1.5rem 2rem;

        p {
          line-height: 146.52%;
          color: var(--light-black);
        }
      }
    }
  }
}

@media only screen and (max-width: $large-screen) {
  .services {
    padding: 25rem 8vw 15rem 8vw;

    .services_container {
      gap: 0 80px;
    }
  }
}

@media only screen and (max-width: $medium-screen) {
  .services {
    padding: 8rem 8vw 8rem 8vw;

    .services_container {
      grid-template-columns: initial !important;
      grid-template-rows: repeat(3, 1fr) !important;
      gap: 100px 0;
    }
  }
}
