@mixin arc($border-top,$border-left,$border-right,$border-bottom,$animation) {
  border-top: $border-top;
  border-left: $border-left;
  border-right: $border-right;
  border-bottom: $border-bottom;
  animation: $animation;
}

$gradient-color-1: #2b2b2b;
$gradient-color-2: #2b2b2bc0;

// Keyframes
@keyframes animationgradienttitle {
  0% {
    background-position: 0 0px;
  }
  50% {
    background-position: 0 400px;
  }
  100% {
    background-position: 800px 0;
  }
}



.loading-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: var(--primary-blue);

  .loading-screen_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 30rem;
    height: 30rem;
    @include flex(center, center, null);

    .outer_circle {
      @include pseudo_elem;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      @include arc(
        1px solid transparent,
        3px solid white,
        1px solid transparent,
        1px solid transparent,
        rotate 3s infinite linear
      );
    }

    .inside_circle {
      @include pseudo_elem;
      width: 120%;
      height: 120%;
      border-radius: 50%;
      @include arc(
        3px solid rgb(255, 234, 41),
        1px solid transparent,
        1px solid transparent,
        none,
        rotate 2s infinite linear
      );
    }

    .loading_poligon {
      @include background-properties(
        "/svg/loading_poligon.svg",
        contain,
        center
      );
      width: 20rem;
      height: 20rem;
      filter: drop-shadow(0px 34px 37px #103ab4);
      @include flex(center, center, null);

      h1 {
        //   color: var(--primary-black);
        background: -webkit-linear-gradient(bottom,$gradient-color-2,$gradient-color-1
        );
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation-duration: 4s;
        animation-name: animationgradienttitle;
        animation-iteration-count: infinite;
        animation-fill-mode:both;
      }
    }
  }
}

// @keyframes rotate {
//   100% {
//     transform: rotate(360deg);
//   }
// }
