.contact {

    .contact_container {
        height: 100vh;
        display: grid;
        grid-template-columns: .6fr 1fr;


        .contact-heading {
            @include flex(center, flex-start, column);
            padding: 0 0 0 8vw;

            a {
                text-decoration: underline !important;
                width: 100%;
                max-width: 45rem;
                line-height: 100%;
                color: var(--primary-black);
            }

            .oxeni-mail {
                @include flex(initial, initial, initial);
                align-self: flex-start;
                width: 100%;
                max-width: 20rem;
                cursor: pointer;
                margin-top: 3vh;

                .copy {
                    @include flex(center, center, initial);
                }

                p {
                    margin-left: 1rem;
                }
            }
        }


        .contact-pic {
            @include background-properties("/pictures/contact_phone.png", cover, center 0%);
            height: 100%;
            width: 100%;
        }
    }
}


@media only screen and (max-width: $medium-screen) {
    .contact {

        .contact_container {
            grid-template-columns: 1fr;
            grid-template-rows: .2fr 1fr;
            height: 120vh;

            .contact-pic {
                @include background-properties("/pictures/contact_phone.png", cover, 30% center);
            }
        }
    }
}
