@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

.projectCard {
    width: 100%;
    
    .projectCard_video {
        width: 100%;
        border-radius: 12px;
        border: 1px solid red;

        video {
            width: 100%;
            border-radius: 12px;
        }
    }

    .projectCard_heading {
        h1 {
            font-family: 'DM Serif Display', serif;
        }
    }

    .projectCard_paragraph {
        margin-top: .5rem;
        p {
            color: var(--light-black);
        }
    }
}