@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

.projectCard {
    width: 100%;
    
    .projectCard_video {
        width: 100%;
        border-radius: 12px;
        // border: 1px solid red;
        position: relative;

        .base_video_styles {
            width: 100%;
            border-radius: 12px;
            height: 100%;
        }
        .card_video {
            z-index: 1;
        }

        .card_video-shadow{
            position: absolute;
            left: 0;
            top: 8%;
            z-index: -1;
            // background-color: red;
            width: 100%;
            height: 100%;
            filter: blur(35px);
        }
    }

    .projectCard_heading {
        h1 {
            font-family: 'DM Serif Display', serif;
        }
    }

    .projectCard_paragraph {
        margin-top: .5rem;
        p {
            color: var(--light-black);
        }
    }
}