.hero {
  position: relative;
  

  .hero_container {
    width: 100%;
    position: relative;

    .img {
        height: 105vh;
        width: 100%;
        @include background-properties("/pictures/hero_img.jpg",cover,95% center)

    }

    .contact_message {
      z-index: 1;
      position: absolute;
      @include flex(center,center,column);
      width: 65%;
      top: calc(10rem + 5vw);
      padding: var(--primary-padding);
     

      .heading {
        p {
          color: var(--primary-white);
          line-height: 136.2%;
        }
      }

      .line {
        width: 110px;
        height: 1px;
        background-color: var(--primary-white);
        margin: 1.8vw 0vw;
      }

      .paragraph {
        p {
          color: var(--primary-white);
          line-height: 156.2%;
        }
      }
    }
  }
}



@media only screen and (max-width: $medium-screen) {
    .hero {
        .hero_container {
            .contact_message {
                padding: var(--medium-screen-padding) !important;
            }
            
        }
    }
}

@media only screen and (max-width: $small-screen) {
    .hero {
        background-color:white !important;
        .hero_container {
            display: grid;
            grid-template-rows: 1fr 1fr;
            height: initial !important;


            .img {
                height: initial !important;
                @include background-properties("/pictures/mobile_hero.jpg",100%,center)
            }
            
            .contact_message {
                position: initial !important;
                width: initial !important;
                padding: calc(2vw + 1rem) !important;

                * > p {
                    color: var(--primary-black) !important;
                }
            }
            
        }
    }
}