.hero {
    background-color: var(--primary-blue);
    position: relative;
  

  .hero_container {
    width: 100%;
    position: relative;

    .img {
        height: 100vh;
        width: 100%;
        @include background-properties("/pictures/hero_image.png",cover,95% center)

    }



    .contact_message {
      z-index: 1;
      position: absolute;
      @include flex(center,initial,column);
      width: 52%;
      top: 20%;
      padding: 0vw 0vw 0vw 15vw;
     

      .heading {
        p {
          color: var(--primary-white);
          line-height: 136.2%;
        }
      }

      .line {
        width: 110px;
        height: 1px;
        background-color: var(--primary-white);
        margin: 1vw 0vw;
      }

      .paragraph {
        p {
          color: var(--primary-white);
          line-height: 156.2%;
        }
      }

      .hero_button {
        margin-top: 2rem;
        }
    }
  }
}



@media only screen and (max-width: $large-screen) {
    .hero {
        .hero_container {
            .contact_message {
                padding: 0vw 0vw 0vw 7vw !important;
            }
            
        }
    }
}
@media only screen and (max-width: $medium-screen) {
    .hero {
        .hero_container {
            
            .contact_message {
               width: 60% !important;
            }
            
        }
    }
}
@media only screen and (max-width: $small-screen) {
    .hero {
        background-color:white !important;
        .hero_container {
            display: grid;
            grid-template-rows: 1fr auto;
            height: initial !important;


            .img {
                height: 100vh !important;
                @include background-properties("/pictures/mobile_hero.jpg",cover,center)
            }
            
            .contact_message {
                position: initial !important;
                width: initial !important;
                padding: calc(2vw + 1rem) !important;

                * > p {
                    color: var(--primary-black) !important;
                }
            }
            
        }
    }
}