.navigation {
  display: flex;
  flex-direction: row;
  width: 100vw;
  cursor: pointer;
  position: fixed;
  z-index: 100;
  padding: 3.2rem var(--left-margin) 0 var(--left-margin);
  align-items: center;
  justify-content: space-between;
 
  
  .navigation_links{

    .link{
      display: flex;
      flex-direction: row;
      align-items: center;

      p{
        color: var(--primary-white);
        transition: color .5 ease;
      }
    }
  }

}


@media only screen and (max-width: $medium-screen) {
  .navigation {
    height: 4rem;
  }

  .navigation_logo {
    z-index: 999;
    margin-top: 1rem !important;
  }
}

@media only screen and (max-width: $small-screen) {
  .navigation {
    padding: var(--small-screen-padding) !important;

    .navigation_links{
      margin-right: var(--mobile-left-margin) !important;
      margin-top: 1rem !important;

      .link{
        p{
          font-size: $f-size-p1;
          color: var(--primary-black);
        }
      }
    }
  }

  .navigation_logo {
    margin-left: var(--mobile-left-margin) !important;
  }
}