.navigation_logo {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  z-index: 100;
  mix-blend-mode: difference;
  margin-left: var(--left-padding);
  margin-top: 3.5rem;

  * {
    mix-blend-mode: difference;
  }
}

.navigation {
  width: 100%;
  padding: var(--primary-padding);

  position: fixed;
  top: 0 !important;
  z-index: 999;

  .navigation_container {
    @include flex(space-between, center, null);
  }
}




@media only screen and (max-width: $large-screen) {
  .navigation {
    padding: var(--medium-screen-padding) !important;
  }
}

@media only screen and (max-width: $small-screen) {
  .navigation {
    padding: var(--small-screen-padding) !important;
  }
}
